<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="MST_Dream::main_menu" title="Dream Menu" module="MST_Dream" sortOrder="20" resource="MST_Dream::dream" />
        <add id="MST_Dream::add_news" title="Add News" module="MST_Dream" sortOrder="1" parent="MST_Dream::main_menu" action="dream/news/new" resource="MST_Dream::add_news" />
        <add id="MST_Dream::manage_news" title="Manage News" module="MST_Dream" sortOrder="2" parent="MST_Dream::main_menu" action="dream/news/index" resource="MST_Dream::manage_news" />
        <add id="MST_Dream::manage_news_custom" title="Gird Custom" module="MST_Dream" sortOrder="3" parent="MST_Dream::main_menu" action="dream/news/maiuoc" resource="MST_Dream::manage_custom_girid" />
       	<add id="MST_Dream::configuration" title="Configurations" module="MST_Dream" sortOrder="10" parent="MST_Dream::main_menu" action="adminhtml/system_config/edit/section/dream" resource="MST_Dream::configuration" />
    </menu>
</config>