<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Magento\Catalog\Block\Product\View" type="MST\Dream\Block\Rewrite\Product\View" /> -->
	<preference for="Magento\Catalog\Model\Product" type="MST\Dream\Model\Rewrite\Catalog\Product" />
	<preference for="Magento\Catalog\Controller\Product\View" type="MST\Dream\Controller\Rewrite\Product\View" />
	<preference for="Magento\Checkout\Controller\Cart\Add" type="MST\Dream\Controller\Rewrite\Checkout\Cart\Add" />
	<!-- convert quote item to order item -->
	<preference for="Magento\Quote\Model\Quote\Item\ToOrderItem" type="MST\Dream\Model\Rewrite\Quote\Item\ToOrderItem" />
	<preference for="Magento\Catalog\Block\Adminhtml\Product\Edit\Tabs" type="MST\Dream\Block\Adminhtml\Product\Edit\Tabs" />
</config>